/**index.wxss**/
.index-container {
  width: 100vw;
  padding: 0;
  overflow:visible;
  .search-part {
    padding: 10rpx;
    background-color: white;
    height: 60rpx;
    display: flex;
    .search-input {
      border: 1rpx solid #eee;
      text-align: center;
      color: #d43c33;
      border-radius: 10rpx;
      font-size: 26rpx;
      line-height: 60rpx;
      flex: 1;
      margin: 0 10rpx;
    }
    .logo-img {
      width: 60rpx;
      height: 60rpx;
    }
  }
  // swiper
  .swiper-container {
    width: 100%;
    height: 310rpx;
    .swiper {
      height: 100%;
      .item {
        height: 310rpx;
        image {
          width: 100%;
          height: 300rpx;
        }
      }
    }
  }
  //nav
  .nav-part {
    padding-top: 20rpx;
    display: flex;
    justify-content: space-around;
    .nav-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .iconfont {
        width: 100rpx;
        height: 100rpx;
        text-align: center;
        border-radius: 50%;
        line-height: 100rpx;
        background-color: #d43c33;
        color: #eee;
        font-size: 42rpx;
        margin-bottom: 10rpx;
      }
      .item-word {
        text-align: center;
        font-size: 26rpx;
      }
    }
  }
  //suggest
  .suggest-part {
    padding: 20rpx;
    
    .suggest-scroll {
      display: flex;
      height: 270rpx;
      .scroll-item {
        width: 200rpx;
        margin-right: 20rpx;
        // display: flex;
        // flex-direction: column;
        .item-img {
          width: 200rpx;
          height: 200rpx;
          border-radius: 10rpx;
        }
        .item-text{
          overflow: hidden;
           display: -webkit-box;
           font-size: 24rpx;
           -webkit-box-orient: vertical;/*设置纵向对齐*/
           -webkit-line-clamp: 2;/*设置盒子行数*/
           text-overflow: ellipsis;
           line-height: 24rpx;
        }
      }
    }
  }
  // TOPLIST
  .topList-part{
    padding: 20rpx;
    .topList-swiper{
      height: 450rpx;
    }
      .item-container{
        width: 90%;
        height: 420rpx;
        border: 1px solid #f2f2f2;
        border-radius: 20rpx;
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        .top-name{
          line-height: 100rpx;
          font-size:44rpx ;
          text-align: center;
          font-weight: bold;
          font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .item-detail{
          padding: 20rpx;
          display: flex;
          align-items: center;
          .item-index{
            font-size:36rpx;
            font-weight: bold;
            margin-right: 10rpx;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
          .item-name{
            font-size: 32rpx;
            color: #d43c33;
            text-align: left;
            margin-right: 10rpx;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
          .item-art{
            font-size: 24rpx;
            color: #666;
          }
        }
        
    }
  }
}
