.my-part {
  width: 100%;
  background-color: #d7dbdf;
  position: relative;
  .my-background {
    image {
      width: 100%;
      height: 500rpx;
    }
  }
  .my-detail {
    width: 88%;
    height: 400rpx;
    border: 1px solid #ffffff;
    border: 1px solid black;
    margin: 0 auto;
    position: absolute;
    top: 550rpx;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 40rpx;
    .detail-container {
      width: 100%;
      height: 100%;
      position: relative;
      .my-avatar {
        width: 150rpx;
        height: 150rpx;
        position: absolute;
        top: -20rpx;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        image {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .my-txt {
        text-align: center;
        padding-top: 80rpx;
        display: flex;
        flex-direction: column;
        .nickName{
            font-size: 42rpx;
            font-weight: bold;
        }
        .follow-part{
          display: flex;
          flex-direction: row;
          justify-content: center;
          .follow-num{
            display: flex;
            font-size: 32rpx;
            color:#6F6F6F ;
          }.follow-txt{
            color: black;
            padding-left: 10rpx;
            padding-right: 20rpx;
          }
        }
        .signature{
            font-size: 30rpx;
            text-align: left;
            padding: 15rpx;
            padding-bottom: 0;
            padding-top: 10;
            display: flex;
            .title{
                font-size: 28rpx;
                color: #6F6F6F;
                margin-right: 10rpx;
            }
            .title1{
                width: 100rpx;
            }
        }
      }
    }
  }
}
