.playList-page {
  .heade-part {
    width: 100%;
    // border-bottom: 1rpx solid rgba(0,0,0,0.5);
    //padding: 20rpx;

    .bac-img {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 260rpx;
      // height: 100%;
      filter: blur(20px);
      z-index: -1;
      transform: scale(1.5); /*和网易云音乐对比了一下，发现也是放大1.5倍*/
      border-bottom: 1rpx solid rgba(238, 238, 238, 0.5);
    }
    .heade-container {
      width: 90%;
      height: 300rpx;
      // border: 1rpx solid black;
      margin: 0 auto;
      padding: 20rpx;
      display: flex;
      align-items: center;
      image {
        width: 220rpx;
        height: 220rpx;
        border-radius: 20rpx;
        border: 1rpx solid rgba(0, 0, 0, 0.5);
        margin-right: 50rpx;
      }

      .right-part {
        height: 220rpx;
        display: flex;
        flex-direction: column;
        //margin-top: 50rpx;
        justify-content: space-between;
        //border: 1rpx solid red;

        .title {
          font-size: 36rpx;
          font-weight: bold;
          color: #eee;
        }
        .author {
          display: flex;
          align-items: center;
          margin-top: 20rpx;
          font-size: 32rpx;
          color: #bbbbbb;
          image {
            margin-right: 20rpx;
            width: 60rpx;
            height: 60rpx;
            border-radius: 50%;
          }
        }
        .list-desc {
          width: 350rpx;
          // height: 120rpx;
          font-size: 28rpx;
          color: #bbbbbb;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  .list-part {
    background-color: #f7f7f7;
    .list-head {
      display: flex;
      font-size: 42rpx;
      font-weight: bold;
      align-items: center;
      padding: 25rpx;
      image {
        width: 50rpx;
        height: 50rpx;
        margin-right: 20rpx;
      }
      .num {
        font-size: 28rpx;
        color: #b3b3b3;
        font-weight: normal;
        padding-top: 18rpx;
        margin-left: 20rpx;
      }
    }
    .listScroll {
      height: calc(100vh - 200rpx);
      .scrollItem {
        padding: 30rpx;
        display: flex;
        align-items: center;
        margin-bottom: 20rpx;
        position: relative;
        .index{
            color: #b3b3b3;
            font-size: 36rpx;
            //font-weight: bold;
          //  font-family: 'Courier New', Courier, monospace;
            margin-right: 30rpx;
        }
        .songs-name{
            display: flex;
            flex-direction: column;
            .name{
                font-size: 36rpx;
                color: #000;
                margin-bottom: 10rpx;
            }
            text{
                font-size: 28rpx;
                color: #b3b3b3;
            }
        }
        .iconfont{
            position: absolute;
            right: 30rpx;
        }
      }
    }
  }
}
